---
Language                                       : Cpp
BasedOnStyle                                   : LLVM
AlignAfterOpenBracket                          : true
AlignEscapedNewlinesLeft                       : true
AlignConsecutiveAssignments                    : true
AllowShortFunctionsOnASingleLine               : Empty
AlwaysBreakTemplateDeclarations                : true
BreakBeforeBraces                              : Allman
ColumnLimit                                    : 160
ConstructorInitializerIndentWidth              : 6
IndentCaseLabels                               : true
MaxEmptyLinesToKeep                            : 1
KeepEmptyLinesAtTheStartOfBlocks               : false
NamespaceIndentation                           : All
PointerAlignment                               : Left
SpacesBeforeTrailingComments                   : 2
IndentWidth                                    : 4
UseTab                                         : Never
SpaceBeforeParens                              : ControlStatements
...

